/* styling the webpage background */

body {
    background-image: url('WarrenBuffet.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
/* Setting up the colour of the title */
.titles {
    color:beige;
  }

  h1 {
    color:beige;
    margin-bottom: 20px;
    text-align: center;
  }
/* hyperlink colour inside title */
p a {
    color:aquamarine;
  }

  img {
    border: 2px solid black;
    border-radius: 8px;

  }

/* block section styling */
.blocks {
    background-color: azure;
    color:darkblue;
    border: 2px solid black; 
    margin: 30px;
    padding: 20px;
    max-width:500px;
    width: 90%;
  }

.submit-btn {
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: bold;
    background-color: aquamarine;
    color: darkblue;
    border: none;
    border-radius: 8px;
}

.submit-btn b {
    color:darkblue;
}


  

  
